<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SentientEntities" connectionString="metadata=res://*/Knowledge.Sentient.csdl|res://*/Knowledge.Sentient.ssdl|res://*/Knowledge.Sentient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=Sentient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>