<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="OxfordApi.App_Id" value="APP_ID" />
    <add key="OxfordApi.App_Key" value="APP_KEY" />
    <add key="OxfordApi.Uri" value="https://od-api.oxforddictionaries.com" />
    <!-- Oxford API Routes -->
    <add key="OxfordApi.Entries" value="/api/v1/entries/en/" />
  </appSettings>
  <connectionStrings>
    <add name="SentientEntities" connectionString="metadata=res://*/Knowledge.Sentient.csdl|res://*/Knowledge.Sentient.ssdl|res://*/Knowledge.Sentient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA SOURCE HERE;initial catalog=DB NAME HERE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="NodeListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="NodeInfo.csv" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>